In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#load the data
df = pd.read_csv('aerofit_treadmill_data.csv')

In [2]:

display(df.head())

# Checks if there are any missing values
display("Any NaN values?")
display(df.isnull().values.any())

# Check the number of missing values in each column
display(df.isnull().sum())

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47

'Any NaN values?'

np.False_

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

In [3]:
# Checking the data types
df.dtypes

# Changing the object data type into string
df['Product'] = df['Product'].astype('string')
df['Gender'] = df['Gender'].astype('string')
df['MaritalStatus'] = df['MaritalStatus'].astype('string')

# Renaming columns
df.rename(columns={'Education': 'Years_Of_Eduaction'}, inplace=True)

# After changing the data types
df.dtypes

Product               string[python]
Age                            int64
Gender                string[python]
Years_Of_Eduaction             int64
MaritalStatus         string[python]
Usage                          int64
Fitness                        int64
Income                         int64
Miles                          int64
dtype: object

In [4]:
# Summary Statistics for Numerical Columns
df.describe()

# Counts for Categorical Columns
print("Count per Product:")
display(df['Product'].value_counts())
print()

print("Count per Gender:")
display(df['Gender'].value_counts())
print()

print("Count per Marital Status:")
display(df['MaritalStatus'].value_counts())
print()

# Group by 'Product' and describe()
grouped_summary = df.groupby('Product').describe()

# Flatten the multi-index column headers
grouped_summary.columns = ['_'.join(col).strip() for col in grouped_summary.columns.values]

# Show all columns
pd.set_option('display.max_columns', None)

# Reset index to keep 'Product' as a normal column
grouped_summary = grouped_summary.reset_index()

display(grouped_summary)

# Correlation matrix with numeric data types only
correlation_matrix = df.select_dtypes(include=['number']).corr()
print(correlation_matrix)

Count per Product:

Product
KP281    80
KP481    60
KP781    40
Name: count, dtype: Int64

Count per Gender:

Gender
Male      104
Female     76
Name: count, dtype: Int64

Count per Marital Status:

MaritalStatus
Partnered    107
Single        73
Name: count, dtype: Int64

,Product,Age_count,Age_mean,Age_std,Age_min,Age_25%,Age_50%,Age_75%,Age_max,Years_Of_Eduaction_count,Years_Of_Eduaction_mean,Years_Of_Eduaction_std,Years_Of_Eduaction_min,Years_Of_Eduaction_25%,Years_Of_Eduaction_50%,Years_Of_Eduaction_75%,Years_Of_Eduaction_max,Usage_count,Usage_mean,Usage_std,Usage_min,Usage_25%,Usage_50%,Usage_75%,Usage_max,Fitness_count,Fitness_mean,Fitness_std,Fitness_min,Fitness_25%,Fitness_50%,Fitness_75%,Fitness_max,Income_count,Income_mean,Income_std,Income_min,Income_25%,Income_50%,Income_75%,Income_max,Miles_count,Miles_mean,Miles_std,Miles_min,Miles_25%,Miles_50%,Miles_75%,Miles_max
0,KP281,80.0,28.55,7.221452,18.0,23.00,26.0,33.00,50.0,80.0,15.037500,1.216383,12.0,14.0,16.0,16.0,18.0,80.0,3.087500,0.782624,2.0,3.0,3.0,4.00,5.0,80.0,2.9625,0.664540,1.0,3.0,3.0,3.0,5.0,80.0,46418.025,9075.783190,29562.0,38658.00,46617.0,53439.0,68220.0,80.0,82.787500,28.874102,38.0,66.0,85.0,94.0,188.0
1,KP481,60.0,28.90,6.645248,19.0,24.00,26.0,33.25,48.0,60.0,15.116667,1.222552,12.0,14.0,16.0,16.0,18.0,60.0,3.066667,0.799717,2.0,3.0,3.0,3.25,5.0,60.0,2.9000,0.629770,1.0,3.0,3.0,3.0,4.0,60.0,48973.650,8653.989388,31836.0,44911.50,49459.5,53439.0,67083.0,60.0,87.933333,33.263135,21.0,64.0,85.0,106.0,212.0
2,KP781,40.0,29.10,6.971738,22.0,24.75,27.0,30.25,48.0,40.0,17.325000,1.639066,14.0,16.0,18.0,18.0,21.0,40.0,4.775000,0.946993,3.0,4.0,5.0,5.00,7.0,40.0,4.6250,0.667467,3.0,4.0,5.0,5.0,5.0,40.0,75441.575,18505.836720,48556.0,58204.75,76568.5,90886.0,104581.0,40.0,166.900000,60.066544,80.0,120.0,160.0,200.0,360.0

                         Age  Years_Of_Eduaction     Usage   Fitness  \
Age                 1.000000            0.280496  0.015064  0.061105
Years_Of_Eduaction  0.280496            1.000000  0.395155  0.410581
Usage               0.015064            0.395155  1.000000  0.668606
Fitness             0.061105            0.410581  0.668606  1.000000
Income              0.513414            0.625827  0.519537  0.535005
Miles               0.036618            0.307284  0.759130  0.785702

                      Income     Miles
Age                 0.513414  0.036618
Years_Of_Eduaction  0.625827  0.307284
Usage               0.519537  0.759130
Fitness             0.535005  0.785702
Income              1.000000  0.543473
Miles               0.543473  1.000000

In [5]:
# Created a mapping for the new columns
product_mapping = {
    'KP281': 0,
    'KP481': 1,
    'KP781': 2
}
df_encoded = df

# Based on the Product column values the new column will either get 0, 1, 2
df_encoded['Product_Encoding'] = df_encoded['Product'].map(product_mapping)

df_encoded.select_dtypes(include=['number']).corr()

,Age,Years_Of_Eduaction,Usage,Fitness,Income,Miles,Product_Encoding
Age,1.000000,0.280496,0.015064,0.061105,0.513414,0.036618,0.032225
Years_Of_Eduaction,0.280496,1.000000,0.395155,0.410581,0.625827,0.307284,0.495018
Usage,0.015064,0.395155,1.000000,0.668606,0.519537,0.759130,0.537447
Fitness,0.061105,0.410581,0.668606,1.000000,0.535005,0.785702,0.594883
Income,0.513414,0.625827,0.519537,0.535005,1.000000,0.543473,0.624168
Miles,0.036618,0.307284,0.759130,0.785702,0.543473,1.000000,0.571596
Product_Encoding,0.032225,0.495018,0.537447,0.594883,0.624168,0.571596,1.000000